<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LinqToSQLModel.Properties.Settings.VPMSDBConnectionString"
      connectionString="Data Source=DESKTOP-PAUOG56\SQLEXPRESS;Initial Catalog=VPMSDB;Persist Security Info=True;User ID=dandyyang;Password=@@@bbb222"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>